Workflows/1.user details and patient check.json
{
  "name": "1.user details and patient check",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "body_pincode",
              "type": "any"
            }
          ]
        }
      },
      "id": "46fe41c6-32cb-4570-ab38-8b86ac096227",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -352,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM visited_patients \nWHERE TRIM(LOWER(name)) = TRIM(LOWER('{{ $json[\"name\"] }}')) \n  AND phone = '{{ $json[\"phone\"] }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1488,
        912
      ],
      "id": "afe4aa40-c4f0-4e89-9625-fd0193c545e5",
      "name": "Get Patient ID1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        784
      ],
      "id": "cc25b014-8bae-40c8-a7f2-19e0df17e7a8",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM visited_patients\nORDER BY id DESC\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1792,
        672
      ],
      "id": "dff08c8e-9386-4b71-a670-197c9bb200d3",
      "name": "get NEW pateint ID1",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6780e089-051b-4b0c-bd67-80e4b15511eb",
              "name": "name",
              "value": "={{$json[\"body\"][\"name\"]}}",
              "type": "string"
            },
            {
              "id": "e5602e26-1884-486e-8eb2-6caee4d6c90b",
              "name": "phone",
              "value": "={{$json[\"body\"][\"phone\"]}}",
              "type": "string"
            },
            {
              "id": "de14cafb-dbe6-4382-b358-0e0aa3422375",
              "name": "email",
              "value": "={{$json[\"body\"][\"email\"]}}",
              "type": "string"
            },
            {
              "id": "18789b6d-37e9-4690-80aa-e0d811afe1c8",
              "name": "pincode",
              "value": "={{ $json.body.pincode }}",
              "type": "string"
            },
            {
              "id": "9c4797d2-6e99-455b-b0f9-29ec8a84d7ea",
              "name": "diagnosis",
              "value": "={{$json[\"body\"][\"diagnosis\"]}}",
              "type": "string"
            },
            {
              "id": "b8db4c82-e481-4b05-9390-cde124cc8836",
              "name": "doctor name",
              "value": "={{$json[\"body\"][\"doctor_name\"]}}",
              "type": "string"
            },
            {
              "id": "7926021e-33c3-4955-a290-1ecdf8c320a5",
              "name": "doctor email",
              "value": "={{$json[\"body\"][\"doctor_email\"]}}",
              "type": "string"
            },
            {
              "id": "122810ea-0fbe-4ba9-9692-d8f94680bcf8",
              "name": "prescribed medicines",
              "value": "={{$json[\"body\"][\"prescribed_medicines\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        800
      ],
      "id": "c5db5f8d-f79d-4164-acd8-846d16bd938b",
      "name": "extract details1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM visited_patients\nWHERE id = {{ $json[\"id\"] }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1808,
        912
      ],
      "id": "3fd62ecf-7243-4116-937e-c4dfb28ea38a",
      "name": "retrive pateint details for passing1",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bf12478-06fa-415f-9fec-9a0142797351",
              "leftValue": "={{$json[\"id\"] == null}}",
              "rightValue": "={{$json[\"id\"]}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        800
      ],
      "id": "0150ed35-ab31-4e1c-a3ed-d3d5a36f8769",
      "name": "new patient??1",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        800
      ],
      "id": "ccf7007f-f93c-49d8-9327-94a378d86405",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const id = items[0].json.id;\nconst patient = items[1].json;\nconst medicines = JSON.parse(patient[\"prescribed medicines\"]);\n\nreturn [{\n  json: {\n    id: id,\n    name: patient.name,\n    phone: patient.phone,\n    email: patient.email,\n    pincode: patient.pincode,\n    diagnosis: patient.diagnosis,\n    doctor_name: patient[\"doctor name\"],\n    doctor_email: patient[\"doctor email\"],\n    medicines: medicines\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        800
      ],
      "id": "eb4937bc-2249-4c6f-903f-0c07ca0cb43f",
      "name": "Code"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "visited_patients",
          "mode": "list",
          "cachedResultName": "visited_patients"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "name",
              "value": "={{ $json.name }}"
            },
            {
              "column": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "column": "email",
              "value": "={{ $json.email }}"
            },
            {
              "column": "diagnosis",
              "value": "={{ $json.diagnosis }}"
            },
            {
              "column": "doctor_name",
              "value": "={{ $json.doctor_name }}"
            },
            {
              "column": "doctor_email",
              "value": "={{ $json.doctor_email }}"
            },
            {
              "column": "pincode",
              "value": "={{ $json.pincode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1488,
        672
      ],
      "id": "043bf372-05f5-4b9f-999e-c6fb480f4b79",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM visited_patients \nWHERE name = '{{ $json.name }}'\n  AND phone = '{{ $json[\"phone\"] }}'\nLIMIT 1;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        240,
        800
      ],
      "id": "1ae8bc69-3b83-413f-b429-a0517842ae71",
      "name": "fetch id if exists1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "patient_history",
          "mode": "list",
          "cachedResultName": "patient_history"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "diagnosis",
              "value": "={{ $json.diagnosis }}"
            },
            {
              "column": "doctor_name",
              "value": "={{ $json.doctor_name }}"
            },
            {
              "column": "doctor_email",
              "value": "={{ $json.doctor_email }}"
            },
            {
              "column": "patient_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2576,
        784
      ],
      "id": "6f23bd54-090d-4b40-8d3a-504b6fa6dad4",
      "name": "patient history update1",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from visited_patients\nwhere id={{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2384,
        784
      ],
      "id": "66119c09-4889-47cf-8e3a-aff16586b2b6",
      "name": "data passing1",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "extract details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient ID1": {
      "main": [
        [
          {
            "node": "retrive pateint details for passing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get NEW pateint ID1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract details1": {
      "main": [
        [
          {
            "node": "fetch id if exists1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "retrive pateint details for passing1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "new patient??1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Patient ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "new patient??1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "get NEW pateint ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch id if exists1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data passing1": {
      "main": [
        [
          {
            "node": "patient history update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "data passing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d7e5c55-2475-4a3c-8e07-2dfc31f841f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a02a34c7ae6555bc4ba05069ba44e9513d44fe9f5734b311fd2af3d28d39ec7"
  },
  "id": "gAOoReIHZZlnJVZB",
  "tags": []
}