Workflows/4.delivery agent assignment.json
{
  "name": "4.delivery agent assignment",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4528,
        1040
      ],
      "id": "929c716a-ed9d-454f-9d08-f36fa8d96746",
      "name": "Merge6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5456,
        1040
      ],
      "id": "6447a41c-85b9-4f6e-a54d-458226fee56a",
      "name": "Merge7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM delivery_agent\nWHERE available = 1\n  AND pincode = '{{ $json.pincode }}'\nORDER BY\n  agent_rating DESC,\n  response_time_avg ASC,\n  current_deliveries ASC\nLIMIT 1;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4352,
        1040
      ],
      "id": "0e95e4e9-8334-444b-9dd7-5826b3a1fca4",
      "name": "select best agent",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"Order approval status received.\",\n  \"approved\": {{$json[\"data\"][\"approved\"]}}\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4448,
        1296
      ],
      "id": "ba62efff-f4a8-4bbf-a040-c3fe46bdb853",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1b118a7-06b7-43ad-9f9e-b3237ed536bd",
              "leftValue": "={   \"message\": \"Order approval status received.\",   \"approved\": {{$json[\"data\"][\"approved\"]}} }",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4672,
        1296
      ],
      "id": "ae12fdab-c33b-4efe-a320-ebc5321e9331",
      "name": "meds delivered"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE delivery_agent\nSET current_deliveries = current_deliveries - 1\nWHERE agent_id = {{$node[\"select best agent\"].json[\"agent_id\"]}};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        5120,
        1280
      ],
      "id": "92b20dca-8c33-4765-96ef-feb2332625be",
      "name": "Update Agent's Current Deliveries",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE delivery_assignment\nSET delivery_status = 'completed'\nWHERE id =38;                    -- {{$node[\"fetch id\"].json[\"id\"]}};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4912,
        1280
      ],
      "id": "e7f0ca6c-dbc4-4ff6-adc0-0deb6ed8ed38",
      "name": "Update Order Status",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "6dceb0b4-7632-48c8-9838-80dbc04f9793",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        4000,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "const medicines = items.filter(i => i.json.medicine_name); // billing entries\nconst patient = items.find(i => i.json.email && i.json.diagnosis);\nconst agent = items.find(i => i.json.agent_id);\n\nlet tableRows = medicines.map(med => `\n  <tr>\n    <td>${med.json.medicine_name}</td>\n    <td>${med.json.quantity}</td>\n    <td>${med.json.price_per_unit}</td>\n    <td>${med.json.subtotal}</td>\n    <td>${med.json.store_name}</td>\n    <td>${med.json.store_location}</td>\n    <td>${med.json.store_contact}</td>\n  </tr>\n`).join('\\n');\n\nconst totalAmount = medicines.reduce((acc, med) => acc + parseFloat(med.json.subtotal), 0).toFixed(2);\n\nreturn [\n  {\n    json: {\n      to: patient.json.email,\n      subject: \"🧾 Your Medicine Delivery & Billing Summary\",\n      html: `\n<p>Dear <strong>${patient.json.name}</strong>,</p>\n\n<p>Thank you for visiting <strong>${patient.json.doctor_name}</strong> regarding your diagnosis of <strong>${patient.json.diagnosis}</strong>. Please find below the summary of your prescribed medicines and delivery details:</p>\n\n<h3>🧾 Billing Summary</h3>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n  <thead>\n    <tr style=\"background-color: #f2f2f2;\">\n      <th>Medicine Name</th>\n      <th>Quantity</th>\n      <th>Price per Unit (₹)</th>\n      <th>Subtotal (₹)</th>\n      <th>Store Name</th>\n      <th>Location</th>\n      <th>Contact</th>\n    </tr>\n  </thead>\n  <tbody>\n    ${tableRows}\n  </tbody>\n</table>\n\n<p><strong>Total Amount:</strong> ₹${totalAmount}</p>\n\n<h3>🚚 Delivery Agent Details</h3>\n<ul>\n  <li><strong>Name:</strong> ${agent.json.name}</li>\n  <li><strong>Contact:</strong> ${agent.json.contact}</li>\n  <li><strong>Email:</strong> ${agent.json.email}</li>\n  <li><strong>Area:</strong> ${agent.json.area}</li>\n  <li><strong>Pincode:</strong> ${agent.json.pincode}</li>\n</ul>\n\n<p style=\"text-align: center; margin-top: 30px;\">\n  <a href=\"http://localhost:5678/webhook-test/8898b2a2-de86-41b8-8218-434617fe3c69?patient_id=${patient.json.id}\" style=\"background-color: #28a745; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; display: inline-block;\">✔ Mark as Received</a>\n</p>\n\n<p>Your order will be dispatched shortly. If you have any questions, feel free to reply to this email or contact your assigned delivery agent.</p>\n\n<p>Stay healthy,<br>Team HealthCare</p>\n`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5664,
        1040
      ],
      "id": "629a17a4-02bf-482c-8cdf-6c2689dffc8c",
      "name": "patient email builder"
    },
    {
      "parameters": {
        "sendTo": "bandekarjatin02@gmail.com",
        "subject": "={{ $json[\"subject\"] }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5856,
        1040
      ],
      "id": "c03e8910-776a-405e-a114-a6b70f48ed17",
      "name": "bill and delivery mail to patient",
      "webhookId": "be44335a-e810-4b91-a916-793036fbcbb9",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HQ6AYngH67kggO8",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6048,
        1040
      ],
      "id": "33394d82-a945-447d-ae9a-0918f9ee08a3",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE delivery_agent\nSET available = 0\nWHERE agent_id = {{$node[\"select best agent\"].json[\"agent_id\"]}} AND current_deliveries > 3;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        5056,
        1040
      ],
      "id": "e7c62077-37ff-4114-a604-8d1e2a34f892",
      "name": "Conditionally disable availability",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO delivery_assignment (id, agent_id)\nVALUES ({{ $json.id }},{{$node[\"select best agent\"].json[\"agent_id\"]}} );\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4688,
        1040
      ],
      "id": "c14d9801-3bc7-47ac-81af-160368ba75ac",
      "name": "delivery assignment",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE delivery_agent\nSET current_deliveries = current_deliveries + 1\nWHERE agent_id = {{$node[\"select best agent\"].json[\"agent_id\"]}};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4864,
        1040
      ],
      "id": "c1dbaa3f-b47f-4b47-8c53-6aa9c149328d",
      "name": "update delivery count",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from billing_summary\nwhere id=36;                           -- {{$node[\"fetch id\"].json[\"id\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        5264,
        1040
      ],
      "id": "bf4ddca6-c106-4c09-bb2d-e7809876a91d",
      "name": "fetch billing details",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const patient = items.find(i => i.json.email && i.json.diagnosis);\nconst agent = items.find(i => i.json.agent_id);\n\nreturn [\n  {\n    json: {\n      to: agent.json.email,\n      subject: `✅ Order for ${patient.json.name} Marked as Completed`,\n      html: `\n<p>Dear <strong>${agent.json.name}</strong>,</p>\n\n<p>The delivery task assigned to you for <strong>${patient.json.name}</strong> (diagnosed with <strong>${patient.json.diagnosis}</strong>) has been marked as <strong>completed</strong> by the patient.</p>\n\n<p>Click the button below to confirm final delivery status and update your records.</p>\n\n<p style=\"text-align: center; margin-top: 30px;\">\n  <a href=\"http://localhost:5678/webhook-test/sp?agent_id=${agent.json.agent_id}&patient_id=${patient.json.id}\" style=\"background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; display: inline-block;\">📦 Confirm Task Completion</a>\n</p>\n\n<p>Thank you for your continued support and excellent service!</p>\n\n<p>Best regards,<br>Team HealthCare</p>\n`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        1296
      ],
      "id": "06a5c6e9-d984-4c8b-8850-e306f298bb91",
      "name": "agent email builder"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE delivery_agent\nSET available = 1\nWHERE agent_id =  {{$node[\"select best agent\"].json[\"agent_id\"]}} AND current_deliveries < 4;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        5344,
        1280
      ],
      "id": "f42a908b-0fb0-4827-8acb-d21507015171",
      "name": "If deliveries now < 4, set available = 1",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "bandekarjatin02@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4240,
        1296
      ],
      "id": "4f42a3fe-4dee-4d34-9c7f-9cbb1a76fa8d",
      "name": "agent mail",
      "webhookId": "1e71fb09-aeb4-4c6a-b57b-dcd74731f4c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HQ6AYngH67kggO8",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM visited_patients ORDER BY id DESC LIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4160,
        1040
      ],
      "id": "f36047f5-bd4b-4e22-87f7-ffa5c0259dec",
      "name": "fetch id",
      "credentials": {
        "mySql": {
          "id": "WcreOw9pwD44CBGi",
          "name": "MySQL account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge6": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          },
          {
            "node": "delivery assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "patient email builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "select best agent": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "meds delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "Update Agent's Current Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meds delivered": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "fetch id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "patient email builder": {
      "main": [
        [
          {
            "node": "bill and delivery mail to patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bill and delivery mail to patient": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "agent email builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conditionally disable availability": {
      "main": [
        [
          {
            "node": "fetch billing details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delivery assignment": {
      "main": [
        [
          {
            "node": "update delivery count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update delivery count": {
      "main": [
        [
          {
            "node": "Conditionally disable availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch billing details": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agent email builder": {
      "main": [
        [
          {
            "node": "agent mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent's Current Deliveries": {
      "main": [
        [
          {
            "node": "If deliveries now < 4, set available = 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agent mail": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch id": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          },
          {
            "node": "select best agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "834525ad-9238-414e-836f-5600665936e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a02a34c7ae6555bc4ba05069ba44e9513d44fe9f5734b311fd2af3d28d39ec7"
  },
  "id": "E5WksVYBTJxVEeOu",
  "tags": []
}